<div class="container">
 
  <%= form_with model: @article, class: "shadow-sm p-3 mb-5 bg-blue rounded"   do |form| %>
    <div class="mb-3">
      <%= form.label :title, class:"col-sm-2 col-form-label" %></br>
      <%= form.text_field :title, class:"from-control col-sm-10" %>
    </div>
      <div class="mb-3">
      <%= form.label :Body, class:"col-sm-2 col-form-label" %></br>
      <%= form.text_area :body , class:"from-control col-sm-10"%>
    </div>
    <div class="btn btn-success">
      <button><%= form.submit %></button>
    </div>
  <% end %>
</div>